a {
  text-decoration: none;
  color: purple;
}

#logo-container {
  height: inherit;
  width: 15%;
}

#nav-logo-image {
  height: inherit;
  width: auto;
}

nav ul.right {
  padding-right: 5%;
}

.nav-link {
  background-color: gold;
  /* padding: 0.5%; */
}
.nav-link a {
  color: black;
}

#initial-action-button {
  color: black;
}

#parallax-image-1,
#parallax-image-2,
#parallax-image-3 {
  height: 150%;
  width: auto;
  background: rgba(255,255,255,0.1);
}


.row.center{
  top: 10%;
  position: absolute;
  left: 30%;
}