#logo-container {
  height: inherit;
  width: 15%;
}

#nav-logo-image {
  height: inherit;
  width: auto;
}

.parallax-container {
  height: 100vh !important;
}
#parallax-image-1,
#parallax-image-2 {
  height: 200vh;
  width: auto;
}

#parallax-image-3 {
  height: 300vh;
}


nav ul li {
  color: purple;
}